* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./overwatch/bg.jpg);
}


.container .inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  padding: 40px 20px;
  margin: 0 auto;
  justify-content: center;
}

.container .inner .hero {
  width:80px;
  height:84px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.5s linear;
  background-color: gray;
  border: 5px solid #fff;
  transform: skewX(-15deg);
  transition: 1s;
  background-position: center
}

.image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.image:hover{
  cursor: pointer;
  transition: 0.3s linear;
  transform: perspective(1000px) scale(1.3) skewX(0deg);
  z-index: 99;
  border-radius: 10px;
  background-color: orange;
  border: solid #fff;
}

.container .inner .hero .image1{
  background-image: url("./overwatch/hero1.png");
}
.container .inner .hero .image2{
  background-image: url("./overwatch/hero2.png");

}
.container .inner .hero .image3{
  background-image: url("./overwatch/hero3.png");

}
.container .inner .hero .image4{
  background-image: url("./overwatch/hero4.png");

}
.container .inner .hero .image5{
  background-image: url(./overwatch/hero5.png);

}
.container .inner .hero .image6{ 
  background-image: url(./overwatch/hero6.png);
}
.container .inner .hero .image7{
  background-image: url(./overwatch/hero7.png);

}
.container .inner .hero .image8{
  background-image: url(./overwatch/hero8.png);

}
.container .inner .hero .image9{
  background-image: url(./overwatch/hero9.png);

}
.container .inner .hero .image10{
  background-image: url(./overwatch/hero10.png);

}
.container .inner .hero .image11{
  background-image: url(./overwatch/hero11.png);

}
.container .inner .hero .image12{
  background-image: url(./overwatch/hero12.png);

}
.container .inner .hero .image13{
  background-image: url(./overwatch/hero13.png);

}
.container .inner .hero .image14{
  background-image: url(./overwatch/hero14.png);

}
.container .inner .hero .image15{
  background-image: url(./overwatch/hero15.png);

}
.container .inner .hero .image16{
  background-image: url(./overwatch/hero16.png);

}
.container .inner .hero .image17{
  background-image: url(./overwatch/hero17.png);

}
.container .inner .hero .image18{
  background-image: url(./overwatch/hero18.png);

}
.container .inner .hero .image19{
  background-image: url(./overwatch/hero19.png);

}
.container .inner .hero .image20{
  background-image: url(./overwatch/hero20.png);

}
.container .inner .hero .image21{
  background-image: url(./overwatch/hero21.png);

}
.container .inner .hero .image22{
  background-image: url(./overwatch/hero22.png);

}
.container .inner .hero .image23{
  background-image: url(./overwatch/hero23.png);

}
.container .inner .hero .image24{
  background-image: url(./overwatch/hero24.png);

}
.container .inner .hero .image25{
  background-image: url(./overwatch/hero25.png);

}
.container .inner .hero .image26{
  background-image: url(./overwatch/hero26.png);

}
.container .inner .hero .image27{
  background-image: url(./overwatch/hero27.png);

}
.container .inner .hero .image28{
  background-image: url(./overwatch/hero28.png);

}
.container .inner .hero .image29{
  background-image: url(./overwatch/hero29.png);

}
.container .inner .hero .image30{
  background-image: url(./overwatch/hero30.png);

}
.container .inner .hero .image31{
  background-image: url(./overwatch/hero31.png);

}
.container .inner .hero .image32{
  background-image: url(./overwatch/hero32.png);

}

.container .logo {
  max-width: 300px;
  margin: 0 auto;
}

.container .logo img {
  width: 100%;
}