*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #cefeff;
  animation: sky 10s linear infinite;
  overflow: hidden;
}

section {
  width: 1000px;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  /* 가운데정렬 하기 */
}

section .sky {
  width: 100%;
  height: 100%;
  position: relative;
}

section .sky .sun {
  position: absolute;
  width: 180px;
  display: block;
  left: 50%;
  margin-left:-90px;
  transform-origin: 50% 600px;
  animation: sun 10s linear infinite;
}

/* 애니메이션 */


/* 문 혼자 해보기 */

section .sky .moon {
  width: 160px;
  position: absolute;
  display: block;
  left: 50%;
  margin-left:-90px;
  opacity: 0;
  transform-origin: 50% 600px;
  animation: moon 10s linear infinite;
}

/* 클라우드 혼자 하기 */

section .sky .cloud_1 {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 0;
  animation: cloud1 10s linear infinite;
}
section .sky .cloud_2 {
  width: 90px;
  position: absolute;
  top: 150px;
  left: 200;
  animation: cloud2 10s linear infinite;
}

/* city */

section .city {
  position: absolute;
  width: 100%;
}

section .city .city_img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* @keyframes */

@keyframes sky {
  0% {
    background-color: #cefeff;
  }
  25% {
    background-color: skyblue;
  }
  50% {
    background-color: darkblue ;
  }
  75% {
    background-color: darkblue;
  }

  100% {
    background-color: #cefeff;
  }
  }

@keyframes sun {
  0%{
    transform:translateY(-100px) rotate(-90deg);
  }
  25%{
    transform: translateY(-100px) rotate(0deg);
  }
  50%{
    transform: translateY(-100px) rotate(90deg);
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes moon {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    transform:translateY(-100px) rotate(90deg);
    opacity: 0;
  }
  75%{
    transform:translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform:translateY(-100px) rotate(-90deg);
    opacity: 0;
  }
}

@keyframes cloud1 {
  0%{
    top: 0;
    left: 0;
    opacity: 0;
    }
  
    25%{
    top: 0;
    left: 0;
    opacity: 0;
    }
  
    50%{
      top: 0;
      left: calc(100% - 160px);
      opacity: 1;
    }
  
    100%{
    top: 0;
    right: calc(100% - 160px);
    opacity: 0;
    }
  }

@keyframes cloud2 {
  0%{
    top: 0;
    left: calc(100% - 160px);
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 1;
    top:0;
    right: calc(100% - 160px);
  }
  75%{
    top: 0;
    left: 0;
    opacity: 0;
   
  }
  100%{
    top: 0;
    left: 0;
    opacity: 0;
  }
}